@model IEnumerable<Library.Models.Reservation>
@{
    ViewData["Title"] = "GetList";
}
<table class="table">
    <tr>
        <th>
            Номер брони
        </th>
        <th>
            Номер клиента
        </th>
        <th>
            Имя клиента
        </th>
        <th>
            Дата бронирования
        </th>
        <th>
            Дата сдачи
        </th>
        <th>
            Управление
        </th>

    </tr>
    @foreach (Reservation u in Model)
    {
        <tr>
            <td>@u.Id</td>
            <td>@u.UserId</td>
            <td>@u.UserName</td>
            <td>@u.DataBooking.ToString("Год:yyyy Месяц:MM День:dd Час:hh Минуты:mm") </td>
            @if (u.State == ReserveState.Сдан)
            {
            <td>@u.DataSend.ToString("Год:yyyy Месяц:MM День:dd Час:hh Минуты:mm")</td>
            }
            else
            {
                <td>----</td>
            }
            <td>
                @if (u.State == ReserveState.Забронирован)
                {
                    <p><a asp-controller="Reservation" asp-action="Accept" asp-route-id="@u.Id">Принять</a></p>

                    <p><a asp-controller="Reservation" asp-action="Refuse" asp-route-id="@u.Id">Убрать бронь</a></p>
                }
                else if(User.IsInRole("librarian"))
                {
                <p><a asp-controller="Reservation" asp-action="Refuse" asp-route-id="@u.Id">Возврат книги</a></p>
                }

            </td>

</tr>
    }
</table>

